{%load static%}
<html>
<head>

</head>
<body>
    <div class="intro">
        <p id="header"> Form <br></p>
        <p id="greeting"><i> Word Frequency Counter </i></p>
    </div>
    <div class="formDesign">
        <form id="takeURL" action="/result/" method="post">
            {% csrf_token %}
            <label for="urlField"> URL </label> <br>
            <input type="url" id="urlField" name="urlField" placeholder="Enter URL" required><br><br>
            <input type="submit" value="Submit"> </input>
        </form>
    </div>
</body>
</html>
